@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.container {
  width: 470px;
  height: 400px;
  margin: 10px auto;
  position: relative;
}
.title {
  text-align: center;
  margin-top: 0;
}
.input {
  display: block;
  width: 90%;
  height: 80px;
  font-size: 1.2rem;
  padding-left: 30px;
  padding-top: 10px;
  margin: 20px 0 0 22px;
  border: 1px solid rgb(204, 199, 199);
  transition: 0.5s;
  resize: none;
}
.input::placeholder {
  color: rgb(131, 129, 129);
  opacity: 0.5;
}
.input:focus {
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(131, 129, 129);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
  outline: none;
  transition: 0.5s;
}
.morse,
.text {
  cursor: pointer;
  height: 30px;
  width: 45%;
  transition: 0.3s;
  outline: none;
}
.btnContainer {
  width: 50%;
  margin: 30px 0 0 25%;
  display: flex;
  justify-content: space-between;
}
.color {
  background-color: rgb(202, 198, 198);
  border: 2px solid rgb(131, 129, 129);
  transform: scale(1.2);
  transition: 0.3s;
}
#copy {
  margin-left: 22px;
  cursor: pointer;
  margin-top: 10px;
  z-index: 999;
  transition: 0.6s;
}
#copy:focus {
  background-color: rgb(202, 198, 198);
  transition: 0.6s;
  border: 2px solid rgb(88, 87, 87);
  outline: none;
}
#H1 {
  width: 100%;
  margin: 0;
  text-align: center;
  white-space: pre-wrap;
  text-shadow: 0px 0px 20px black;
  word-break: break-all;
  position: absolute;
  top: 220px;
  left: 0;
  display: block;
}

p {
  width: 100%;
  text-align: center;
  margin: 0;
  white-space: pre-wrap;
  display: none;
  font-size: 1.1rem;
  opacity: 0.4;
  position: absolute;
  top: 200px;
  left: 0;
}
.img {
  width: 100%;
  height: 100%;
  background: url(https://i.ibb.co/k5kNPw8/morse.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 30px;
  opacity: 0.4;
}
#temp {
  width: 0;
  height: 0;
  opacity: 0;
}
@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
    max-width: 100%;
  }
  .container {
    width: 390px;
  }
}
@media only screen and (max-width: 390px) {
  body {
    overflow: hidden;
    max-width: 100%;
  }

  .container {
    width: 310px;
  }
  .btnContainer {
    width: 60%;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 300px) {
  body {
    overflow: hidden;
    max-width: 100%;
  }
  .btnContainer {
    width: 80%;
    margin-left: 10%;
  }
}
